.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.home-page h1 {
	box-sizing: border-box;
	width: max-content;
	color: #4C565E;
	font-size: 2.4rem;
	margin-top: 30px;
	padding-bottom: 8px;
	border-bottom: 2px solid #673AB7; 
}

.home-page article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-page h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

.home-page h3 span {
	font-size: 1.2rem;
	font-weight: bold;
	color: #4C565E;
}

.home-page h3 .sub {
	position: relative;
	font-size: 0.7em;
	top: -0.5em;
	color: tomato;
}

.home-page cite {
	display: inline-block;
	margin-top: 8px;
}

.home-page nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
}

.home-page .choose {
	color: #fff;
	border-radius: 50px;
	background-color: #606060;
	width:  max-content;
	box-sizing: border-box;
}

.home-page .choose span {
	font-size: 1.6rem;
	padding: 1px 8px;
	cursor: pointer;
}

.home-page .choose .mode {
	text-transform: capitalize;
}

.home-page .choose span:first-child {
	border-radius: 50px 0 0 50px;
	padding-left: 12px;
}

.home-page .choose span:last-child {
	border-radius: 0 50px 50px 0;
	padding-right: 12px;
}

.home-page .choose span.selected {
	background-color: #673AB7;
}

.home-page button {
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #673AB7;
	border-radius: 3px;
	padding: 8px 50px;
	border: none;
	cursor: pointer;
}

