.x line {
	stroke: dodgerblue;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
	animation-name: draw;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.x .line1 {
	visibility: hidden;
	animation-delay: 0.25s;
}